registry=https://registry.npmmirror.com
electron_mirror="https://npmmirror.com/mirrors/electron/"
# electron_mirror="https://registry.npmmirror.com/binary.html?path=electron/"
auto-install-peers=true
strict-peer-dependencies=false
