//@import '~antd/dist/antd.variable.min.css';

:root {
    --app-primary-color: #5072e0;
    --app-header-light-color: #ffffff;
    --app-title-color-gray-1: #555; // page组件title和tree图标颜色
    --app-title-color-gray-2: #666; // page组件title和tree图标颜色,视图详情页按钮图表颜色
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f2f2f2;
    overflow: initial;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif !important;
    line-height: 20px;
    overflow: hidden;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px white !important;
}

//去掉number的上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(180, 190, 202, 0.8);
    background: #a6a6a6;
}

//::selection {
//    background: #FF6C60;
//    color: #fff
//}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    background-color: #eee;
}

//
.ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
        height: 100%;
    }
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: 100%;
}
